<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109006934-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-109006934-1');
    </script>

  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">mooncryption</h1>
      <h2 class="project-tagline">A news aggregator and blog with articles about cryptocurrencies, bitcoin, steem, science, technology, and more.</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View Source Code</a>
      {% endif %}
      <a href="https://mooncryption.github.io/donate" class="btn">Donate!</a>
      <a href="https://steemit.com/@mooncryption/" class="btn">View on Steemit</a>
</section>

    <section class="main-content">
      <h1> What is @mooncryption? </h1>
      MoonCryption is a news publication and blog, available at <a href="https://steemit.com/@mooncryption/">this link</a>. The articles range in many topics, from cryptocurrencies to technology.
      We post advice and analysis related to cryptocurrencies like Bitcoin or Steem, and many other interesting articles. 
      
      <h1> Can I donate?</h1>
      Yes! See <a href="https://mooncryption.github.io/donate">this link</a> for an easy way to donate with <b>virtually any cryptocurrency!</b> We only accept cryptocurrencies at this moment, and do not intend to change that.
      
      If you want to donate <i>immediately</i>, click the button below:
                    <center><link rel="stylesheet" href="https://changelly.com/widget.css"/>
              <a id="changellyButton" href="https://changelly.com/widget/v1?auth=email&from=ETH&to=BTC&merchant_id=ac4e6c1e3891&address=1Moon4CmwiNH7a73SJwFLe9PnubBjWXXZY&amount=1&ref_id=ac4e6c1e3891&color=00afff" target="_blank">
              <img src="https://changelly.com/pay_button.png" />
              </a>
              <div id="changellyModal">
              <div class="changellyModal-content">
              <span class="changellyModal-close">x</span>
              <iframe
              src="https://changelly.com/widget/v1?auth=email&from=ETH&to=BTC&merchant_id=ac4e6c1e3891&address=1Moon4CmwiNH7a73SJwFLe9PnubBjWXXZY&amount=1&ref_id=ac4e6c1e3891&color=00afff"
              width="600"
              height="500"
              class="changelly"
              scrolling="no"
              style="overflow-y: hidden; border: none"
              >
              Can't load widget
              </iframe>
              </div>
              <script type="text/javascript">
              var changellyModal = document.getElementById('changellyModal');
              var changellyButton = document.getElementById('changellyButton');
              var changellyCloseButton = document.getElementsByClassName('changellyModal-close')[0];
              changellyCloseButton.onclick = function() {
              changellyModal.style.display = 'none';
              };

              changellyButton.onclick = function widgetClick(e) {
              e.preventDefault();
              changellyModal.style.display = 'block';
              };
              </script>
              </div></center>

      You can donate with any supported cryptocurrency.
      
      <h1>Can we collaborate?</h1>
      We are not open to <i>full-on</i> guest authoring, as for this you can simply grab an account on <a href="https://steemit.com/pick_account">the STEEM blockchain.</a>
      However, we <b>are</b> open to collaboration and suggestions! 
      
      If you have a topic you want us to post about, write a comment in one of our recent articles. 
      If you want to collaborate, feel free to add your Discord username or other messsage service to your comment.

      <h1>What witnesses do you recommend?</h1> 
      Voting for witnesses on the Steem blockchain is a crucial part of maintaining decentralization and making sure things work properly. 
      See my witness votes <a href="https://steemd.com/@mooncryption">here</a> or set <code>@mooncryption</code> as your proxy at the bottom of <a href="https://steemit.com/~witnesses">this page.</a>
      
      I vote for witnesses with good tech specs, who are doing good things for our Steem community. You won't be disappointed!
      
      <h3>Can I have <i>your</i> witness vote?</h3>
      Sure, if you ask nicely :) There are also a few other requirements: 
      <ul>
        <li> You should post/comment/vote actively on the STEEM blockchain.</item>
        <li> You must post an SBD/STEEM feed price frequently.</item>
        <li> You should miss a very small amount of blocks.</item>
        <li> You should post <code>Witness Updates</code> regularly.</item>
        <li> You should review the latest hard-fork code from Steemit before approval.
        <li> You should be easily reachable via Discord or Steemit.chat. 
        <li> You must run a seed/RPC node. 
        <li> You must be an active witness :P
      </ul>
      <h1>Can I contact you?</h1>
      Yes! Our username is <code>@mooncryption#6603</code> on <a href="https://discordapp.com">Discord.</a> 
      If you don't want to chat through Discord, feel free to drop your email or other messaging service in the comments section of one of my recent posts.
      
      Though we have a <code>steemit.chat</code> account, we do <i>not</i> check that service frequently.
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner">Funded by the STEEM Blockchain and Donors Like You!</span>
        {% endif %}
        <span class="site-footer-credits">Created by <a href="https://steemit.com/@mooncryption">@mooncryption on Steem.</a></span>
      </footer>
    </section>

  </body>
</html>
